@charset "utf-8";

/* CSS Document */

#container{
	position: absolute;
	height: 100%;
	width: 100%;
	background: red;
}

p.meat{
	color: yellow;
	position: relative;
	text-align: center;
	top: 37%;
	font-size: 50px;
}